<!--
 * @Author: your name
 * @Date: 2021-06-21 16:50:17
 * @LastEditTime: 2021-06-23 18:58:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /flask_news/templete/index.html
-->
{% extends "base.html" %}

{% block head %}
    <style>
        .listBox li {
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid darkorange;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>首页</h2>
    <a href="http://127.0.0.1:5000/add">新增数据</a>
    <ul class="listBox">
        <li>暂无内容</li>
    </ul>
{% endblock %}

{% block script %}
    <script>
        window.onload = function () {
            // 渲染列表
            function renderList(data) {
                if (data && data.length) {
                    let li = '';
                    data.forEach(item => {
                        li += '<li class="newsLi" data-id=' + item.id + '><a href="/detail/' + item.id + '">' + item.title + '</a> ' +
                            '&nbsp;&nbsp;&nbsp;<span class="delBtn" data-id=' + item.id + '>删除</span></li>'
                    })
                    $('.listBox').html(li)
                }
            }

            // 查列表
            function queryList() {
                return new Promise(resolve => {
                    $.ajax({
                        url: '/query',
                        type: 'POST',
                        data: {},
                        timeout: 30000,
                        success: function (res) {
                            console.log(res)
                            if (res.status) {
                                resolve(res.value)
                            }
                        },
                        error: function (res) {
                            console.log(res)
                        }
                    })

                })
            }

            // 查详情
            function queryDetail(id) {
                return new Promise(resolve => {
                    if (id !== undefined) {
                        $.ajax({
                            url: '/detail.do',
                            type: 'POST',
                            data: JSON.stringify({id: id}),
                            timeout: 30000,
                            success: function (res) {
                                console.log(res)
                                if (res.status) {
                                    resolve(res.value)
                                }
                            },
                            error: function (res) {
                                console.log(res)
                            }
                        })
                    }
                })
            }

            // 删除
            $('body').delegate('.delBtn', 'click', function () {
                let id = $(this).attr('data-id');
                console.log(id)
                $.ajax({
                    url: '/delete.do',
                    type: 'POST',
                    data: JSON.stringify({id: id}),
                    timeout: 30000,
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            refresh();
                        }
                    },
                    error: function (res) {
                        console.log(res)
                    }
                })
            })

            // 刷新列表
            function refresh() {
                queryList().then(value => {
                    renderList(value)
                })
            }

            refresh()

        }
    </script>
{% endblock %}